@import './fonts.css';

.text {
    font-family: 'NotoNaskhArabic';
    font-size: 20px;
    font-weight: 400;
    position: relative;
}

.ayat {
    font-family: 'Quran';
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    position: relative;
    display: inline-block;
    line-height: normal;
    margin: 0;
    color: var(--custom-color-mafateh-green)
}

p:not(.ayat) {
    margin: 0;
    font-family: 'NotoNaskhArabic';
}

.bahij {
    font-family: "Bahij";
}

.mixedContent p {
    margin-left: 10px;
    display: inline;
}

.mixedContent p:last-of-type {
    margin-left: 0;
}