.poetry {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    list-style: none;
    border-bottom: solid 1px #ddd;
}

.poetry ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* .poetry ul li {
    display: inline-block;
} */

.poetry ul li:last-of-type {
    text-align: left;
}

.poetry.type_33 ul {
    display: flex;
    justify-content: space-between;
}