.poetry {
    padding: 0;
    margin: 0;
    list-style: none;
    /* border-bottom: solid 1px #ddd; */
    font-family: 'NotoNaskhArabic';
    font-size: 18px;
}

.poetry ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.poetry ul li:last-of-type {
    text-align: left;
}

.poetry.type_33 ul {
    display: flex;
    justify-content: space-between;
}