ion-title {
    font-weight: bold;
    color: var(--custom-color-mafateh-green)
}

ion-label {
    /* font-weight: bold; */
    font-size: 18px;
    color: var(--custom-color-mafateh-green)
}

.button,
.button-native {
    color: var(--custom-color-mafateh-dark-green)
}

ion-list-header {
    border-color: var(--custom-color-mafateh-dark-green)
}

.error {
    color: var(--ion-color-danger);
    padding-inline: 20px;
    font-size: 12px;
}

.mb-2 {
    margin-bottom: 0.2em;
}